{% extends 'cinema/base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Cinema Movie Booking System Using U.S.S.D. A.P.I. and SMS short code to send ticket details</h1>
      <p class="lead my-3">The project looks into how you can use Africa’s Talking U.S.S.D. and SMS short code to create a Cinema Movie Booking System, this can be done when a cinema would want its customers to make bookings via U.S.S.D. and get ticket confirmation details and codes via an S.M.S. Short Code.</p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Where to Start
      </h3>

    <div class="row mb-2">
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1">Creating Movies</h3>
              <ul>
              <li>Click on "Movies" menu</li>
              <li>Click on "Add" to add a new movie</li>
              <li>Enter name of movie</li>
              <li>Enter the movie description</li>
              <li>Enter movie trailer url</li>
              <li>Enter length of movie</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
              <h3 class="mb-1">Movie Dates</h3>
              <ul>
              <li>Click on "Movies Dates" menu</li>
              <li>Click on "Add" to add a movie date</li>
              <li>Select the movie</li>
              <li>Enter screening date</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
          <h3 class="mb-1">Movie Date Times</h3>
          <ul>
          <li>Click on "Movie Date Times" menu</li>
          <li>Click on "Add" to set the movie start and end time for a specific date</li>
          <li>Select the movie's date</li>
          <li>Enter the start time</li>
          <li>Enter the end time</li>
        </ul>
        </div>
      </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Booking a Bus Route</h3>
        <p>Steps for a client to book a movie:</p>
        <ul>
          <li>Navigate to Africa's Talking Simulator URL: https://simulator.africastalking.com:1517/</li>
          <li>Enter a correct phone number</li>
          <li>Click on "U.S.S.D."</li>
          <li>Enter the U.S.S.D. code you had created e.g. *384*58965#</li>
          <li>Select a movie you want to watch</li>
          <li>Select the date you want to watch the movie</li>
          <li>Select the time you want to watch the movie</li>
          <li>You will be notified once the movie has been booked successfully</li>
          <li>On the simulator navigate back to the home page</li>
          <li>Click on "S.M.S."</li>
          <li>You will see an S.M.S. sent with the booking reference code</li>
        </ul>
          <br>
        <p>Viewing movie bookings made:</p>
        <ul>
          <li>Click on "Movie Bookings" menu</li>
          <li>Click on "View" to view movie bookings made</li>
        </ul>
      </article>

    </div>

  </div><!-- /.row -->

</main>


{% endblock content%}