{% extends 'cinema/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Movie Date Times </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="doctor_time_slot-datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Movie</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th class="text-center">Edit</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for movie_date_time in movie_date_times %}
                                <tr>
                                    <td>{{ movie_date_time.movies_dates.movie.name }}</td>
                                    <td>{{ movie_date_time.movies_dates.dates }}</td>
                                    <td>{{ movie_date_time.start_time }}</td>
                                    <td>{{ movie_date_time.end_time }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'movie-date-times-update' movie_date_time.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'movie-date-times-delete' movie_date_time.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}