{% extends 'cinema/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Movie Dates </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="doctor_service-datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Movie</th>
                            <th>Dates</th>
                            <th class="text-center">Edit</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for movie_date in movie_dates %}
                                <tr>
                                    <td>{{ movie_date.movie.name }}</td>
                                    <td>{{ movie_date.dates }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'movie-dates-update' movie_date.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'movie-dates-delete' movie_date.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}