{% extends 'cinema/base.html' %}

{% block content %}
    {% for movie in movies %}
      <div class="col-md-4">
        <article class="media content-section">
          <a href="{% url 'movie-image-update' movie.moviesimage.pk %}">
            <img width="200" height="300" class="rounded-circle article-img" src="{{ movie.moviesimage.image.url }}">
          </a>
        
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ movie.trailer_url }}" target="_blank">View Trailer</a>
              <small class="text-muted">{{ movie.length }} hours</small>
            </div>
            <h2><a class="article-title" href="#">{{ movie.name }}</a></h2>
            <p class="article-content">{{ movie.description }}</p>
          </div>
        </article>
      </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
               <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content%}