{% extends 'cinema/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Movie Bookings </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="booking-datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Booking Code</th>
                            <th>Customer Phone Number</th>
                            <th>Movie</th>
                            <th>Length</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th class="text-center">Edit</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for movie_booking in movie_bookings %}
                                <tr>
                                    <td>{{ movie_booking.booking_code }}</td>
                                    <td>{{ movie_booking.phone_number }}</td>
                                    <td>{{ movie_booking.movies_date_times.movies_dates.movie.name }}</td>
                                    <td>{{ movie_booking.movies_date_times.movies_dates.movie.length }} hours</td>
                                    <td>{{ movie_booking.movies_date_times.movies_dates.dates }}</td>
                                    <td>{{ movie_booking.movies_date_times.start_time }}</td>
                                    <td>{{ movie_booking.movies_date_times.end_time }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'movie-bookings-update' movie_booking.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'movie-bookings-delete' movie_booking.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}